@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

$StrongCyan: hsl(171, 66%, 44%);
$LightBlue: hsl(233, 100%, 69%);
$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

header {
  padding-top: 6.5rem;
  background-image: url(../images/bg-header-desktop.png);
  background-size: cover;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center center;

  @media (max-width: 576px) {
    & {
      background-image: url(../images/bg-header-mobile.png);
    }
  }

  .img-container {
    width: 7rem;
    aspect-ratio: 1 / 1;

    @media (max-width: 576px) {
      & {
        width: 6rem;
      }
    }
  }

  .main-title {
    margin-top: 3.125rem;

    @media (max-width: 576px) {
      & {
        margin-top: 2.75rem;
      }
    }
  }
}

header,
section,
footer {
  @media (max-width: 576px) {
    & {
      padding-inline: 0.7rem;
    }
  }
}

section,
footer {
  margin-top: 8rem;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content-container {
    margin-top: 3.5rem;
    display: flex;

    @media (max-width: 576px) {
      & {
        margin-top: 3rem;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
    }

    .img-container {
      width: min(50%, 992px);

      @media (max-width: 576px) {
        & {
          width: 90%;
        }
      }
    }

    .content {
      padding-left: 2.5rem;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;

      @media (max-width: 768px) {
        padding: 0;
        width: 90%;
        gap: 1.25rem;
        text-align: center;
      }

      article {
        .third-title {
          color: $DarkGrayishBlue;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

.second-section {
  .main-paragraph {
    margin-inline: auto;
  }

  .img-container {
    margin-top: 3.5rem;
    margin-inline: auto;
    width: min(90%, 992px);
  }
}

.third-section {
  .second-paragraph {
    margin-inline: auto;
  }

  .tools-container {
    margin-top: 3.5rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    .tool {
      text-align: center;

      .img-container {
        width: 2.5rem;
        margin-inline: auto;
      }

      .third-title {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.forth-sction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;

  .img-container {
    width: 8.75rem;
  }
}

.fifth-section {
  .main-paragraph {
    margin-inline: auto;
  }
}

.footer {
  padding-block: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(201, 11%, 66%, 0.1);
  gap: 3rem;
  flex-wrap: wrap;

  @media (max-width: 576px) {
    & {
      flex-direction: column;
    }
  }

  .img-container {
    width: 3.5rem;
  }

  .links-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 576px) {
      & {
        flex-direction: column;
      }
    }

    .link {
      width: 30%;
      text-decoration: none;
      color: $DarkGrayishBlue;
      transition: color 500ms ease-in-out;

      &:hover {
        color: $StrongCyan;
      }

      @media (max-width: 576px) {
        & {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .social-media {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;

    .img-container {
      width: 1.75rem;
      aspect-ratio: 1 / 1;

      img {
        transition: filter 500ms ease-in-out;

        &:hover {
          filter: drop-shadow(1px 1px 6px $StrongCyan);
        }
      }
    }
  }
}

/* special classes */
.title {
  color: $DarkGrayishBlue;
  text-align: center;
}

.main-title {
  font-size: 2.5rem;

  @media (max-width: 576px) {
    & {
      font-size: 2rem;
    }
  }
}

.second-title {
  font-size: 2rem;

  @media (max-width: 576px) {
    & {
      font-size: 1.75rem;
    }
  }
}

.main-title,
.second-title {
  margin-bottom: 1.5rem;

  @media (max-width: 576px) {
    & {
      margin-bottom: 1.25rem;
    }
  }
}

.main-paragraph {
  max-width: 55ch;
  font-size: 1.125rem;
  color: $GrayishBlue;
  text-align: center;
  line-height: 1.6;

  @media (max-width: 576px) {
    & {
      max-width: 30ch;
    }
  }
}

.second-paragraph {
  color: $GrayishBlue;
  max-width: 35ch;
  line-height: 1.4;

  @media (max-width: 576px) {
    & {
      margin-inline: auto;
      max-width: 25ch;
    }
  }
}

.buttons-container {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media (max-width: 576px) {
    & {
      flex-direction: column;
    }
  }
}

.button {
  padding: 0.8rem 2.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 500ms ease-in-out;
}

.button-cyan {
  background-color: $StrongCyan;
  box-shadow: 0 0 5px $StrongCyan;
}

.button-cyan:hover {
  background-color: hsl(171deg 66% 44% / 80%);

  @media (max-width: 576px) {
    & {
      background-color: $StrongCyan;
    }
  }
}

.button-blue {
  background-color: $LightBlue;
  box-shadow: 0 0 5px $LightBlue;
}

.button-blue:hover {
  background-color: hsl(233deg 100% 69% / 80%);

  @media (max-width: 576px) {
    & {
      background-color: $LightBlue;
    }
  }
}

.img-container {
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
  }
}

.screen-reader-only {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}
